<app-header></app-header>
<div class="sender--name">User {{ this.chat.id }}</div>

<div class="message-container">
  @for(message of this.messages; track $index){ @if(message.user ==
  this.currentUser){

  <div class="message message--sent">
    <p>{{ message.content }}</p>
  </div>
  } @else{
  <div class="message message--received">
    <p>{{ message.content }}</p>
  </div>

  }
  <div class="clear"></div>
  }
</div>

<div class="input-container">
  <input type="text" #messageInput placeholder="Type your message..." />
  <button (click)="sendMessage(messageInput.value)">Send</button>
</div>
